{% extends "portfolioApp/portfolioview.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}




<a class="nav-link" id="list" ><h2 id="list"></h2></a>
  <ul >
    <li><a class="nav-link links" id="1" ><h5 id="1"></h5></a></li>
    <li><a class="nav-link links" id="2" ><h5 id="2"></h5></a></li>
    <li><a class="nav-link links" id="3" ><h5 id="3"></h5></a></li>
    <li><a class="nav-link links" id="4" ><h5 id="4"></h5></a></li>
    <li><a class="nav-link links" id="5" ><h5 id="5"></h5></a></li>

  </ul>





  <script type="text/javascript" src="{% static "js/git.js" %}"></script>

{% endblock %}
